<html>
    <body>
        <form action="/form-handler" method="POST">
            <div>
		<p align="center" style="color:red">  <font size="+5">O Jogo não consta em nosso Banco de Dados.</font></p>
            </div>
          </form>
	<p align="left"><a href=return ><button class=grey style="height:75px;width:150px">Back</button></a></p>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 2%;
        }

        div {
            margin: 2% 0;
        }
    </style>
</html>